body {
	background: url(../images/cat_11.jpg);
	background-size:cover;
}

.title {
	font-size:30px;
	margin: 0 auto;
	text-align: center;
  animation: blinkAnimeS2 2s infinite alternate;
}
@keyframes blinkAnimeS2{
   0%{ color : blue;   background:white }
 100%{ color : red; background:black   }
}


.c2{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	box-sizing: border-box;
	margin-bottom:20px;
}

.c1 img{
	width: 100%;
	height: auto;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 0;
	overflow: hidden;
}

.c1 img:hover{
	opacity: 1;
}

.c2 img{
	width: 100%;
	height: auto;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 1.0;
	overflow: hidden;
}
.c2 img:hover{
	opacity: 0;
}


div#title02 {
	color:#0000ff;
	font-size:30px;
	width:35%;
	background-color:#ffffff;
	margin: 0 auto;
	text-align: center;
}

#btn_submit {
    color:#000000;
    width:170px;
    height:70px;
    font-size:40px;
    display: block;
    margin: 0 auto;
}
